.detail{
  width: 100%;
  align-items: center;
  position: relative;
  margin: 10px 0 0 40px;
}

.detail__title{
  
  
}

.detail__rating{}

.detail__img{
  border-radius: 15px;
}

.detail__runtime{
  color: azure;
}

.detail__scrip{
  font-size:20px;
}

.detail__text{
  position: absolute;
  width: 1000px;
  top: 100px;
  left:35%;
}